.container h1 {
  color: blueviolet;
  text-align: center;
}

#code {
  text-align: center;
}

.container p {
  text-align: center;
  display: none;
}

span {
  color: blueviolet;
}

body {
  background: linear-gradient(to right,#e66465, #9198e5);
}
